/**
 ********************
 * SECTION WELCOME  *
 ********************
 */
#section-welcome {
	background: linear-gradient(90deg, rgba(157,255,176,1) 20%, rgba(238,238,238,0) 50%, rgba(157,255,176,1) 80%);
}

#section-menu-wiki {
	background-color: $third;
}

/**
 ********************
 *   SECTION MENU   *
 ********************
 */
 #section-menu-wiki .item-menu-router:hover .item-menu-rounded {
	background-color: $third;
}

#section-menu-wiki .item-menu-rounded {
	background-color: $primary;
	border: 8px solid $secondary;
}

/**
 **************************
 * SECTION HAPPY BIRTHDAY *
 **************************
 */
#happy-birthday-villager-card {
	background-color: $third;
}