main {
  background-color: $primary;
}

.row-profil {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.console-reaction {
  display: flex;
}

.console-reaction > .reaction {
  margin: auto;
}

.carousel-profile {
  background-color: $accent !important;
}

.box-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
  grid-gap: 50px;
}

.pseudo-profile {
  margin-bottom: 20%;
}

.img-insect-swiper {
  background-image: url("@/assets/images/patterns/herbes.jpg");
  border-radius: 20px;
}

.img-fish-swiper {
  background-image: url("@/assets/images/patterns/water.jpeg");
  border-radius: 20px;
}

.img-creatures-swiper {
  background-image: url("@/assets/images/patterns/deep_water.jpg");
  border-radius: 20px;
}

.platform:hover .platform-code {
  visibility: visible !important;
}

.swiper {
  padding-bottom: 40px;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-button-next, .swiper-button-prev {
  top: 37%;
}

@media screen and (min-width: 992px) {
  .col-4 {
    width: 50% !important;
  }
}

@media screen and (max-width: 992px) {
  .col-4 {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}