/**
 ********************
 * SECTION WELCOME  *
 ********************
 */
#section-welcome {
	position: relative;
	padding-top: 150px;
	padding-bottom: 50px;
}

/* ---------- SECTION WELCOME - FLEX ---------- */
#section-trees-and-board, #section-trees-left, #section-trees-right {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

#section-board, #section-trees-left, #section-trees-right {
	width: 30%;
	z-index: 1;
}

/* ---------- SECTION WELCOME - TREES ---------- */
#section-trees-left, #section-trees-right {
	transform: translateY(25px);
}

/* ---------- SECTION WELCOME - TABLEAU ---------- */
#section-board::after {
    content: "Bienvenue sur\aIsland Crossing";
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
	white-space: pre;
	color: black;
	font-weight: bold;
	font-size: 2.8em;
}

/* ---------- SECTION WELCOME - ABSOLUTE : ballon cadeau, ... ---------- */
#section-absolute {
	display: contents;
}

#balloon {
	position: absolute;
	max-width: 4%;
	top: 15px;
	right: 10%;
}

/* ---------- IMAGE BOTTOM ---------- */
#section-welcome::after {
	content: "";
	background-image: url('@/assets/images/patterns/herbes.jpg');
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	border-radius: 150px 150px 0 0;
}

/* ---------- MEDIA QUERIES ---------- */
@media (max-width: 1000px) {
	#section-trees-left, #section-trees-right {
		display: none;
	}

	#section-board {
		width: 70%;
	}

	#section-board::after {
		font-size: 3em;
	}
}

@media (max-width: 1500px) {
	#section-board::after {
		font-size: 1.7em;
	}
}

/**
 ********************
 *   SECTION MENU   *
 ********************
 */
#section-menu-wiki {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 25px 18%;
}

#section-menu-wiki .item-menu {
	width: 25%;
	padding: 45px 0;
}

#section-menu-wiki .item-menu-rounded {
	width: 100px;
	height: 100px;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	border-radius: 50px;
	overflow: hidden;
}

#section-menu-wiki .item-menu-rounded img {
	width: 100%;
}

.item-menu-router {
	text-decoration: none;
}

.item-menu-text {
	font-size: 1.5em;
	font-weight: bold;
	color: #000;
}

/* ---------- MEDIA QUERIES ---------- */
@media (max-width: 800px) {
	#section-menu-wiki .item-menu {
		width: 30%;
		padding: 45px 0;
	}
}

@media (max-width: 600px) {
	#section-menu-wiki .item-menu {
		width: 40%;
		padding: 45px 0;
	}
}

@media (max-width: 400px) {
	#section-menu-wiki .item-menu {
		width: 100%;
		padding: 45px 0;
	}
}

/**
 **************************
 * SECTION HAPPY BIRTHDAY *
 **************************
 */
#section-happy-birthday {
	background-color: #fff;
	background: linear-gradient(90deg, rgba(238,238,238,0) 0%, rgba(157,255,176,1) 50%, rgba(238,238,238,0) 100%);
	padding: 25px 0;
}

#section-happy-birthday::after {
	content: "";
	background-image: url('@/assets/images/confetti.png');
	background-repeat: repeat;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 200px;
	max-width: 10%;
}

#happy-birthday-villager {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
}

#happy-birthday-villager > div {
	width: 25%;
}

#happy-birthday-villager-image {
	max-height: 350px;
	background-image: url('@/assets/images/confetti.png');
}

#happy-birthday-villager-card {
	border-radius: 80px;
	padding: 15px 50px;
	font-size: 1.2rem;
	font-weight: bold;
}

#happy-birthday-villager-card-and-icons {
	max-width: 350px;
	margin-right: 50px;
}

#happy-birthday-village-change-villager {
	display:flex;
	justify-content: space-around;
	margin-top: 30px;
}

/* ---------- MEDIA QUERIES ---------- */
@media (max-width: 1000px) {
	#happy-birthday-villager > div {
		width: 40%;
	}

	#section-happy-birthday::after {
		display: none;
	}
}

@media (max-width: 650px) {
	#happy-birthday-villager {
		flex-direction: column;
	}

	#happy-birthday-villager > div {
		width: 80%;
		padding: 15px 0;
	}	
	
	#happy-birthday-villager-card-and-icons {
		max-width: 100%;
		margin-right: 0;
	}
}

/**
 ***********************
 * SECTION PUBLICATION *
 ***********************
 */
 #section-last-publications {
	background-image: url('@/assets/images/patterns/herbes.jpg');
	background-repeat: repeat;
	padding: 140px 0 0 0;
	overflow: hidden;
 }

 #section-last-publications::before {
	content: "";
	background-image: url('@/assets/images/apple_border_top.png');
	background-repeat: no-repeat;
	position: absolute;
	top: -100px;
	left: 0;
	right: 0;
	height: -webkit-fill-available;
	z-index:1;
}

 #publications {
	 display: flex;
	 flex-wrap: wrap;
	 padding: 25px 18%;
	 justify-content: space-around;
 }

 #publications .publication-image {
	 max-height: 150px;
	 overflow: hidden;
	 border-radius: 20px;
 }

 #publications .publication {
	 width: 30%;
 }

 .publication-title {
	 display: block;
	 margin-top: 20px;
	 font-size: 1.4em;
 }

 /* ---------- MEDIA QUERIES ---------- */
 @media (max-width: 1000px) {
	#publications .publication {
		width: 45%;
	}

	.publication-title {
		margin-bottom: 35px;
	}
 }

 @media (max-width: 800px) {
	#publications .publication {
		width: 95%;
	}
 }