.insect {
	width: 21%;
	border-radius: 30px 30px 0 0;
	overflow: hidden;
	padding-bottom: 50px;
	cursor: pointer;
}

.insect-section-image {
	background-image: url('@/assets/images/patterns/herbes.jpg');
	position: relative;
}

.insect-leaf {
	position: absolute;
	background-image: url('@/assets/images/leaf.png');
	background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
	background-color: #fff;
	padding: 5px;
	bottom: 3px;
	right: 3px;
	width: 30px;
	height:30px;
	border: 5px solid #fff;
	border-radius: 50%;
}

.insect-not-in-collection {
	filter: grayscale(1);
}

.insect-image {
	max-height: 100px;
}

.insect-name > span {
	font-size: 1.5em;
}

@media (max-width: 850px) {
	.insect {
		width: 17%;
	}
}

@media (max-width: 700px) {
	.insect {
		width: 23%;
	}
}

@media (max-width: 550px) {
	.insect {
		width: 45%;
	}
}