.villager {
	width: 26%;
	border-radius: 50px 50px 0 0;
	overflow: hidden;
	padding-bottom: 50px;
	cursor: pointer;
}

.villager-section-image {
	background-image: url('@/assets/images/patterns/dots.png');
	padding: 20px;
}

.villager-image {
	max-height: 250px;
}

.villager-name > span {
	font-size: 1.5em;
}

@media (max-width: 850px) {
	.villager {
		width: 45%;
	}
}

@media (max-width: 550px) {
	.villager {
		width: 80%;
	}
}