#section-insect-detail {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 25px;
}

#section-insect-detail > section {
	width: 40%;
}

#insect-image {
	max-height: 250px;
}

#section-insect-informations {
	border-radius: 20px;
	padding: 25px 0;
}

#section-insect-description {
	padding: 25px;
	border-radius: 20px;
	font-size: 1.2rem;
	height: min-content;
}

@media (max-width: 800px) {
	#section-insect-detail {
		flex-direction: column;
	}

	#section-insect-detail > section {
		width: 85%;
	}

	#section-insect-informations {
		margin: 0 auto 25px auto;
	}

	#section-insect-description {
		margin: 0 auto;
	}
}